<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        android:protectionLevel="signature"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROJECT_MEDIA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectZ"
        tools:targetApi="31" >
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PinActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectZ" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.DeviceUsersActivity" />
        <activity android:name=".ui.DeviceControlActivity" />
        <activity android:name="com.d1vivek.projectz.ui.AddUserActivity" />
        <activity android:name="com.d1vivek.projectz.ui.EmulatorSetupActivity" />
        <activity android:name="com.d1vivek.projectz.ui.DeviceShareActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.ShareService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".service.DeviceControlService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>